<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.dao.MaterialInfoMapper">
  <resultMap id="BaseResultMap" type="com.car.model.MaterialInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="mno" property="mno" jdbcType="VARCHAR" />
  <result column="mname" property="mname" jdbcType="VARCHAR" />
  <result column="mintro" property="mintro" jdbcType="VARCHAR" />
  <result column="stock_num" property="stockNum" jdbcType="DOUBLE" />
  <result column="dw" property="dw" jdbcType="VARCHAR" />
  <result column="gg" property="gg" jdbcType="VARCHAR" />
  <result column="provider_id" property="providerId" jdbcType="INTEGER" />
  <result column="jsbz" property="jsbz" jdbcType="VARCHAR" />
  <result column="price" property="price" jdbcType="DOUBLE" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,mno,mname,mintro,stock_num,dw,gg,provider_id,jsbz,price
  </sql>
  <select id="selectByExample" parameterType="com.car.model.MaterialInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from material_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from material_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.model.MaterialInfoExample">
    delete from material_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.model.MaterialInfo">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into material_info (mno,mname,mintro,stock_num,dw,gg,provider_id,jsbz,price)
      values (	#{id,jdbcType=INTEGER},	#{mno,jdbcType=VARCHAR},	#{mname,jdbcType=VARCHAR},	#{mintro,jdbcType=VARCHAR},	#{stockNum,jdbcType=DOUBLE},	#{dw,jdbcType=VARCHAR},	#{gg,jdbcType=VARCHAR},	#{providerId,jdbcType=INTEGER},	#{jsbz,jdbcType=VARCHAR},	#{price,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.car.model.MaterialInfo">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into material_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="mno != null" >
	  mno,
 </if>
<if test="mname != null" >
	  mname,
 </if>
<if test="mintro != null" >
	  mintro,
 </if>
<if test="stockNum != null" >
	  stock_num,
 </if>
<if test="dw != null" >
	  dw,
 </if>
<if test="gg != null" >
	  gg,
 </if>
<if test="providerId != null" >
	  provider_id,
 </if>
<if test="jsbz != null" >
	  jsbz,
 </if>
<if test="price != null" >
	  price
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="mno != null" >
	 #{mno,jdbcType=VARCHAR},
	 </if>
  <if test="mname != null" >
	 #{mname,jdbcType=VARCHAR},
	 </if>
  <if test="mintro != null" >
	 #{mintro,jdbcType=VARCHAR},
	 </if>
  <if test="stockNum != null" >
	 #{stockNum,jdbcType=DOUBLE},
	 </if>
  <if test="dw != null" >
	 #{dw,jdbcType=VARCHAR},
	 </if>
  <if test="gg != null" >
	 #{gg,jdbcType=VARCHAR},
	 </if>
  <if test="providerId != null" >
	 #{providerId,jdbcType=INTEGER},
	 </if>
  <if test="jsbz != null" >
	 #{jsbz,jdbcType=VARCHAR},
	 </if>
  <if test="price != null" >
	 #{price,jdbcType=DOUBLE},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.model.MaterialInfoExample" resultType="java.lang.Long">
    select count(*) from material_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update material_info
    <set>
       <if test="record.mno != null" >
	 mno = #{record.mno,jdbcType=VARCHAR},
</if>
 <if test="record.mname != null" >
	 mname = #{record.mname,jdbcType=VARCHAR},
</if>
 <if test="record.mintro != null" >
	 mintro = #{record.mintro,jdbcType=VARCHAR},
</if>
 <if test="record.stockNum != null" >
	 stock_num = #{record.stockNum,jdbcType=DOUBLE},
</if>
 <if test="record.dw != null" >
	 dw = #{record.dw,jdbcType=VARCHAR},
</if>
 <if test="record.gg != null" >
	 gg = #{record.gg,jdbcType=VARCHAR},
</if>
 <if test="record.providerId != null" >
	 provider_id = #{record.providerId,jdbcType=INTEGER},
</if>
 <if test="record.jsbz != null" >
	 jsbz = #{record.jsbz,jdbcType=VARCHAR},
</if>
 <if test="record.price != null" >
	 price = #{record.price,jdbcType=DOUBLE}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update material_info
    set 
    				mno = #{record.mno,jdbcType=VARCHAR},	mname = #{record.mname,jdbcType=VARCHAR},	mintro = #{record.mintro,jdbcType=VARCHAR},	stock_num = #{record.stockNum,jdbcType=DOUBLE},	dw = #{record.dw,jdbcType=VARCHAR},	gg = #{record.gg,jdbcType=VARCHAR},	provider_id = #{record.providerId,jdbcType=INTEGER},	jsbz = #{record.jsbz,jdbcType=VARCHAR},	price = #{record.price,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.model.MaterialInfo">
    update material_info
    <set>
       <if test="mno != null" >
	 mno = #{mno,jdbcType=VARCHAR},
</if>
 <if test="mname != null" >
	 mname = #{mname,jdbcType=VARCHAR},
</if>
 <if test="mintro != null" >
	 mintro = #{mintro,jdbcType=VARCHAR},
</if>
 <if test="stockNum != null" >
	 stock_num = #{stockNum,jdbcType=DOUBLE},
</if>
 <if test="dw != null" >
	 dw = #{dw,jdbcType=VARCHAR},
</if>
 <if test="gg != null" >
	 gg = #{gg,jdbcType=VARCHAR},
</if>
 <if test="providerId != null" >
	 provider_id = #{providerId,jdbcType=INTEGER},
</if>
 <if test="jsbz != null" >
	 jsbz = #{jsbz,jdbcType=VARCHAR},
</if>
 <if test="price != null" >
	 price = #{price,jdbcType=DOUBLE}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.model.MaterialInfo">
    update material_info
    set 
     			mno = #{mno,jdbcType=VARCHAR},	mname = #{mname,jdbcType=VARCHAR},	mintro = #{mintro,jdbcType=VARCHAR},	stock_num = #{stockNum,jdbcType=DOUBLE},	dw = #{dw,jdbcType=VARCHAR},	gg = #{gg,jdbcType=VARCHAR},	provider_id = #{providerId,jdbcType=INTEGER},	jsbz = #{jsbz,jdbcType=VARCHAR},	price = #{price,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
