<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.dao.ProviderAppMapper">
  <resultMap id="BaseResultMap" type="com.car.model.ProviderApp">
    <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" property="name" jdbcType="VARCHAR" />
  <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
  <result column="celcontact_" property="celcontact_" jdbcType="VARCHAR" />
  <result column="address" property="address" jdbcType="VARCHAR" />
  <result column="gm" property="gm" jdbcType="VARCHAR" />
  <result column="pro_names" property="proNames" jdbcType="VARCHAR" />
  <result column="pro_detail" property="proDetail" jdbcType="VARCHAR" />
  <result column="create_date" property="createDate" jdbcType="VARCHAR" />
  <result column="eval_type" property="evalType" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
     id,name,contact_name,celcontact_,address,gm,pro_names,pro_detail,create_date,eval_type
  </sql>
  <select id="selectByExample" parameterType="com.car.model.ProviderAppExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from provider_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="startRow >= 0 and pageRows > 0">
  limit ${startRow},${pageRows}
  </if>

  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
     from provider_app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   delete from provider_app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.model.ProviderAppExample">
    delete from provider_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.model.ProviderApp">
      <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

      insert into provider_app (name,contact_name,celcontact_,address,gm,pro_names,pro_detail,create_date,eval_type)
      values (	#{id,jdbcType=INTEGER},	#{name,jdbcType=VARCHAR},	#{contactName,jdbcType=VARCHAR},	#{celcontact_,jdbcType=VARCHAR},	#{address,jdbcType=VARCHAR},	#{gm,jdbcType=VARCHAR},	#{proNames,jdbcType=VARCHAR},	#{proDetail,jdbcType=VARCHAR},	#{createDate,jdbcType=VARCHAR},	#{evalType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.car.model.ProviderApp">
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
  SELECT LAST_INSERT_ID()
</selectKey>

    insert into provider_app
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null" >
	  id,
 </if>
<if test="name != null" >
	  name,
 </if>
<if test="contactName != null" >
	  contact_name,
 </if>
<if test="celcontact_ != null" >
	  celcontact_,
 </if>
<if test="address != null" >
	  address,
 </if>
<if test="gm != null" >
	  gm,
 </if>
<if test="proNames != null" >
	  pro_names,
 </if>
<if test="proDetail != null" >
	  pro_detail,
 </if>
<if test="createDate != null" >
	  create_date,
 </if>
<if test="evalType != null" >
	  eval_type
 </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
         <if test="id != null" >
	 #{id,jdbcType=INTEGER},
	 </if>
  <if test="name != null" >
	 #{name,jdbcType=VARCHAR},
	 </if>
  <if test="contactName != null" >
	 #{contactName,jdbcType=VARCHAR},
	 </if>
  <if test="celcontact_ != null" >
	 #{celcontact_,jdbcType=VARCHAR},
	 </if>
  <if test="address != null" >
	 #{address,jdbcType=VARCHAR},
	 </if>
  <if test="gm != null" >
	 #{gm,jdbcType=VARCHAR},
	 </if>
  <if test="proNames != null" >
	 #{proNames,jdbcType=VARCHAR},
	 </if>
  <if test="proDetail != null" >
	 #{proDetail,jdbcType=VARCHAR},
	 </if>
  <if test="createDate != null" >
	 #{createDate,jdbcType=VARCHAR},
	 </if>
  <if test="evalType != null" >
	 #{evalType,jdbcType=INTEGER},
	 </if>

    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.model.ProviderAppExample" resultType="java.lang.Long">
    select count(*) from provider_app
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update provider_app
    <set>
       <if test="record.name != null" >
	 name = #{record.name,jdbcType=VARCHAR},
</if>
 <if test="record.contactName != null" >
	 contact_name = #{record.contactName,jdbcType=VARCHAR},
</if>
 <if test="record.celcontact_ != null" >
	 celcontact_ = #{record.celcontact_,jdbcType=VARCHAR},
</if>
 <if test="record.address != null" >
	 address = #{record.address,jdbcType=VARCHAR},
</if>
 <if test="record.gm != null" >
	 gm = #{record.gm,jdbcType=VARCHAR},
</if>
 <if test="record.proNames != null" >
	 pro_names = #{record.proNames,jdbcType=VARCHAR},
</if>
 <if test="record.proDetail != null" >
	 pro_detail = #{record.proDetail,jdbcType=VARCHAR},
</if>
 <if test="record.createDate != null" >
	 create_date = #{record.createDate,jdbcType=VARCHAR},
</if>
 <if test="record.evalType != null" >
	 eval_type = #{record.evalType,jdbcType=INTEGER}
</if>

    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update provider_app
    set 
    				name = #{record.name,jdbcType=VARCHAR},	contact_name = #{record.contactName,jdbcType=VARCHAR},	celcontact_ = #{record.celcontact_,jdbcType=VARCHAR},	address = #{record.address,jdbcType=VARCHAR},	gm = #{record.gm,jdbcType=VARCHAR},	pro_names = #{record.proNames,jdbcType=VARCHAR},	pro_detail = #{record.proDetail,jdbcType=VARCHAR},	create_date = #{record.createDate,jdbcType=VARCHAR},	eval_type = #{record.evalType,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.model.ProviderApp">
    update provider_app
    <set>
       <if test="name != null" >
	 name = #{name,jdbcType=VARCHAR},
</if>
 <if test="contactName != null" >
	 contact_name = #{contactName,jdbcType=VARCHAR},
</if>
 <if test="celcontact_ != null" >
	 celcontact_ = #{celcontact_,jdbcType=VARCHAR},
</if>
 <if test="address != null" >
	 address = #{address,jdbcType=VARCHAR},
</if>
 <if test="gm != null" >
	 gm = #{gm,jdbcType=VARCHAR},
</if>
 <if test="proNames != null" >
	 pro_names = #{proNames,jdbcType=VARCHAR},
</if>
 <if test="proDetail != null" >
	 pro_detail = #{proDetail,jdbcType=VARCHAR},
</if>
 <if test="createDate != null" >
	 create_date = #{createDate,jdbcType=VARCHAR},
</if>
 <if test="evalType != null" >
	 eval_type = #{evalType,jdbcType=INTEGER}
</if>

    </set>
     where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.model.ProviderApp">
    update provider_app
    set 
     			name = #{name,jdbcType=VARCHAR},	contact_name = #{contactName,jdbcType=VARCHAR},	celcontact_ = #{celcontact_,jdbcType=VARCHAR},	address = #{address,jdbcType=VARCHAR},	gm = #{gm,jdbcType=VARCHAR},	pro_names = #{proNames,jdbcType=VARCHAR},	pro_detail = #{proDetail,jdbcType=VARCHAR},	create_date = #{createDate,jdbcType=VARCHAR},	eval_type = #{evalType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>
